<!DOCTYPE html>
<html>

<head prefix="og:http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Qman's Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph (OGP) Meta Tags -->
    <meta property="og:title" content="Qman's Diary">
    <meta property="og:description" content="キューマン・エノビクトによるブログです。">
    <meta property="og:url" content="https://blog.qmainconts.dev{{if eq .PrevPage 0}}{{.Root}}{{else}}{{.Root}}page/{{sub .NextPage 1}}{{end}}">
    <meta property="og:type" content="blog">
    <meta property="og:site_name" content="Qman's Diary">
    <meta property="og:image" content="https://blog.qmainconts.dev/assets/icon_large.png">
    <meta property="og:locale" content="ja_JP">

    <!-- Twitter Cards Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Qman's Diary">
    <meta name="twitter:description" content="キューマン・エノビクトによるブログです。">
    <meta name="twitter:url" content="https://blog.qmainconts.dev{{if eq .PrevPage 0}}{{.Root}}{{else}}{{.Root}}page/{{sub .NextPage 1}}{{end}}">
    <meta name="twitter:site" content="@QmanEnobikto">

    <!-- その他 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Noto+Sans+JP:wght@400;700&family=Play:wght@700&family=Source+Code+Pro&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Noto+Sans+JP:wght@400;700&family=Play:wght@700&family=Source+Code+Pro&display=swap" media="print" onload='this.media="all"' />
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/common.css?b={{buildTime}}">
    <link rel="stylesheet" href="/assets/css/index.css?b={{buildTime}}">
    <script src="/assets/js/latest_articles.js?b={{buildTime}}"></script>
    <script src="/assets/js/categories.js?b={{buildTime}}"></script>
    <link rel="canonical" href="https://blog.qmainconts.dev{{if eq .PrevPage 0}}{{.Root}}{{else}}{{.Root}}page/{{sub .NextPage 1}}{{end}}">
    <meta name="google-site-verification" content="u0BTjFYkL3nKuJ0DyWuKngSx29oQe4lkzcAgTFfP2bQ" />
</head>


<body>
    <header>
        <div id="blogtitle"><a href="/">Qman's Diary</a></div>
        <p>多趣味人間の備忘録</p>
    </header>
    <main>
        <section id="maincol">
            <section class="box">
                {{- if not .IsIndex -}}
                <h1>{{- .ArchiveName -}}</h1>
                <hr>
                {{- end -}}
                {{- range .Articles -}}
                <div class="article">
                    <div class="date">{{- formatTime .PublishedAt -}}</div>
                    <div class="title"><a href="/articles/{{.ID}}.html">{{- .Title -}}</a></div>
                    <div class="tags">
                        <div class="tag"><img src="/assets/tag.svg" alt="タグ" width="18" height="18" draggable="false"></div>
                        {{- range .Category -}}
                        <div class="tag"><a href="/articles/category/{{.ID}}"></a>
                            {{- .Name -}}
                        </div>
                        {{- end -}}
                    </div>
                    <p class="article-preview">{{- $bodyfirst := index .Body 0 -}}{{- trimSample $bodyfirst.Body -}}</p>
                </div>
                {{- end -}}
                {{- if totalGreater .Totalcount .Limit -}}
                <!-- ページネーション -->
                <div class="pagination">
                    {{- if ne .CurrentPage 1 -}}
                    <a class="pn-element pn-return-first" href="{{.Root}}">«</a>
                    {{- end -}}
                    {{- $ctx := . -}}
                    {{- range getPagination .CurrentPage .AllPage 5 -}}
                    <a class="pn-element {{if eq . $.CurrentPage}}active{{end}}" href="{{$ctx.Root}}{{if gt . 1}}page/{{.}}{{end}}">{{.}}</a>
                    {{- end -}}
                    {{- if not eq .CurrentPage .AllPage -}}
                    <a class="pn-element pn-return-last" href="{{.Root}}page/{{.AllPage}}">»</a>
                    {{- end -}}
                </div>
                {{- end -}}
            </section>
            <section class="box">
                <section class="widgetgroup" id="recent">
                    <div class="widgetindex">Recent Articles</div>
                    <div id="recent-articles"></div>
                </section>
            </section>
        </section>
        {{- template "subcol" . -}}
    </main>
    {{- template "footer" . -}}
</body>

</html>