{{ define "subcol" }}
<section id="subcol">
    <section class="box">
        <div class="subcolbtn">
            <a href="https://qmainconts.dev/"></a>
            >> キューマンのコンテンツ置き場
        </div>
        <section class="widgetgroup">
            <div class="widgetindex">Profile</div>
            <p>オタクコンテンツで命を繋いでいる人間</p>
        </section>
        <section class="widgetgroup">
            <div class="widgetindex">Accounts</div>
            <ul>
                <li>Twitter: <a href="https://twitter.com/QmanEnobikto" target="_blank">@QmanEnobikto</a>
                </li>
                <li>GitHub: <a href="https://github.com/Qman11010101" target="_blank">Qman11010101</a></li>
                <li>カクヨム: <a href="https://kakuyomu.jp/users/QmanEnobikto" target="_blank">QmanEnobikto</a>
                </li>
                <li>Qiita: <a href="https://qiita.com/KjumanEnobikto" target="_blank">@KjumanEnobikto</a>
                </li>
                <li>Zenn: <a href="https://zenn.dev/kjumanenobikto" target="_blank">@kjumanenobikto</a></li>
            </ul>
        </section>
        <section class="widgetgroup">
            <div class="widgetindex">Category</div>
            <div id="categorydisplay">
            </div>
        </section>
        <section class="widgetgroup">
            <div class="widgetindex">Tweets</div>
            <a class="twitter-timeline" data-height="1000" href="https://twitter.com/QmanEnobikto?ref_src=twsrc%5Etfw">Tweets by QmanEnobikto</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </section>
    </section>
</section>
{{ end }}