/* タイトル周り */

#maincol h1 {
    font-size: 2em;
    margin: 10px 0;
    line-height: 1.4;
}

@media screen and (max-width: 1100px) {
    #maincol h1 {
        font-size: 1.6em;
    }
}

.tags {
    margin: 5px 0;
}

/* 記事本文 */

#maincol article {
    margin: 15px 0;
}

#maincol h2 {
    font-size: 1.5em;
    margin: 30px 0 10px;
}

#maincol h3 {
    font-size: 1.2em;
    margin: 15px 0 5px;
}

#maincol article img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

#maincol article figure img {
    display: block;
    margin: 20px auto 10px;
    max-width: 100%;
    height: auto;
}

pre {
    overflow: auto;
}

code {
    font-family: Consolas, 'DejaVu Sans Mono', monospace;
    color: #eee;
    background-color: #333;
    font-size: 90%;
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 6px;
    display: inline;
    vertical-align: 1px;
    word-break: break-all;
}

pre code {
    padding: 2px;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    /* ファイル名があるなら 0 20px 20px; */
    word-break: break-all;
}

.code-filename {
    /* ファイル名のやつ */
    background-color: #555;
    width: fit-content;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    color: #eee;
    font-family: Consolas, 'DejaVu Sans Mono', monospace;
}

.codeblock-margin {
    margin: 10px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #999;
    margin: 10px 0;
}

td,
th {
    border: 1px solid #999;
    padding: 0 5px;
}

th {
    background-color: #ccc;
}

/* カスタムclass */

.spoiler {
    background-color: #333;
    color: #333;
    padding: 0 5px 2px;
    transition-duration: .2s;
}

.spoiler:hover,
.spoiler:active {
    color: #eee;
    transition-duration: .2s;
}

.warning {
    display: flex;
    background-color: #fbb;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
}

.warning::before {
    display: block;
    content: url("/assets/warning.svg");
    width: 30px;
    height: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}


/* シェアボタン周りのウィジェットラッパー */

.widget-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.widget-child-wrapper {
    margin: 3px;
}

/* ツイートボタン */

.tweetbutton {
    cursor: pointer;
}