/* タイトルブロック */

#maincol .article {
    margin-bottom: 30px;
}

#maincol .article:last-child {
    margin: 0;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
    margin: 7px 0;
}

.title a {
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    transition-duration: .2s;
}

.title a:hover {
    color: #0088cc;
    transition-duration: .2s;
}

/* prev/nextボタン */

.prev_next_index {
    position: relative;
    height: 30px;
}

.prev_next_btn {
    position: absolute;
    bottom: 0;
    padding: 5px;
    background-color: #bbbbbb;
    color: #555555;
    border-radius: 8px;
    width: fit-content;
}

.prev_next_btn:hover {
    background-color: #555555;
    color: #bbbbbb;
    transition-duration: .2s;
}

.prev_next_btn a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

/* ページ数表示 */

.page_view {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.2em;
}